<div class="grid">
  <div class="main-wrapper" *ngFor="let item of weatherList;let i = index">
    <input class="search-input" placeholder="Search cities" type="text" [(ngModel)]="item.citySearch"
      (ngModelChange)="loadData1(i)" />

    <div class="inner-wrapper" *ngIf="!loading && item.citySearch != ''">
      <h1 class="city">{{ item.weatherCityName }}</h1>
      <p class="description">{{ item.weatherDescription }}</p>
      <img [src]="getImage(item.weatherDescription)" width="200" height="200" />
      <p class="temperature">{{ (item.weatherTemp.temp - 273.15).toFixed(0) }}°</p>
      <p class="max-min-temp">H:{{(item.maxTemp - 273.15).toFixed(0)}}° L:{{(item.minTemp - 273.15).toFixed(0)}}°</p>
    </div>
  </div>
</div>
